pelican==4.6.0
pelican-cite==1.1.1
Markdown==3.3.4
git+git://github.com/lextoumbourou/pelican-frontmark.git
git+git://github.com/lextoumbourou/pelican-jupyter.git
nbconvert==5.6.0
notebook==6.1.5
pelican-katex==1.6.1
