{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block content %}
<section id="content">
  
  <article class="post">
      <div class="article-content">
        <h2>
          <a href="/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </h2>

        <div class="article-meta">
          <span class="created">{{ article.date|strftime('%b %d, %Y') }}</span>

          <span class="category">
            {%- if article.parent -%}
            ../<a href="{{ SITEURL }}/{{ article.parent }}.html">{{ article.parent }}</a>
            {%- else -%}
            <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category}}</a>{%- for subcategory in article.subcategories -%}/<a href="{{ SITEURL }}/{{subcategory.url}}">{{subcategory.shortname}}</a>{% endfor %}
            {% endif %}
          </span>

          <span class="info">
              {% if article.tags %}
              &nbsp;
              {% for t in article.tags %}
              &nbsp;<a href="{{ SITEURL }}/{{ t.url }}" class="tags{% if tag and tag.name == t.name %} selected{% endif %}">{{ t }}</a>
              {% endfor %}
              {% endif %}
          </span>
        </div>

        <div class="article-content">
          <div class="cover-image">
            {% if article.cover and not article.hide_cover_in_article %}
            <img src="{{ article.cover }}" />
            {% endif %}
          </div>

          {{ article.content }}
        </div>

        <div class="clear"></div>

        <div class="article-book-rec">
          <h2>Book Recommendation</h2>
          {% if article.book_recommendation %}
            <div class="book-rec-container">
              <img src="{{ article.book_recommendation.image_link }}" alt="{{ article.book_recommendation.title }}" class="book-image">
              <div>
                <h3>{{ article.book_recommendation.title }}</h3>
                <p>{{ article.book_recommendation.blurb }}</p>
                <a href="{{ article.book_recommendation.amazon_link }}">Buy on Amazon</a>
              </div>
            </div>
          {% else %}
            <p>No book recommendation for this article.</p>
          {% endif %}
        </div>
      </div>
  </article>
</section>
{% endblock %}
