{% extends "base.html" %}

{% block title %}Topics - {{ SITENAME }}{% endblock %}

{% block body_class %}page-list{% endblock %}

{% block content %}
<section class="list-page">
  <header class="list-head">
    <h1 class="list-title"><span data-sketch="swipe" data-sketch-color="--hl-yellow" data-sketch-draw="on">Topics</span></h1>
    <p class="list-meta">{{ tags | list | length }} topics, sized by how many notes use them</p>
  </header>
  <ul class="tag-cloud">
    {% set counts = tags | map(attribute=1) | map('count') | list %}
    {% set min_count = counts | min %}
    {% set max_count = counts | max %}
    {% set range = (max_count - min_count) or 1 %}
    {% for tag, articles in tags | sort %}
      {% set count = articles | count %}
      {% set weight = ((count - min_count) / range * 4) | round | int %}
      <li><a href="{{ SITEURL }}/{{ tag.url }}" class="tag-cloud-item tag-weight-{{ weight }}">{{ tag }} <span class="topic-n">{{ count }}</span></a></li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
