{% extends "base.html" %}

{% block content %}
<section id="content">
{% block content_title %}
{% endblock %}

<ul class="articles">
{% for article in articles_page.object_list %}
    <li>
        <div class="title">
            <h2>
               {{ article.date|strftime('%b %d, %Y') }}. <a href="/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
            </h2> 
        </div>
    </li>
{% endfor %}
</ul><!-- /#posts-list -->

{% endblock content %}
