{% extends "base.html" %}

{% block content %}
<section id="content">
{% block content_title %}
{% endblock %}

<ul class="articles">

  <li>
    <div class="title">
      <h2>Jan 24, 2018. <a href="https://tech.scrunch.com/blog/deep-learning-on-lambda-part-1-architecture-and-performance/" rel="bookmark" title="Permalink to Deep Learning on Lambda Part 1: Architecture and Performance">Deep Learning on Lambda Part 1: Architecture and Performance (Scrunch.com)</a>
    </div>
  </li>

  <li>
    <div class="title">
      <h2>Mar 28, 2017. <a href="https://tech.scrunch.com/blog/understanding-social-media-engagement-using-elasticsearchs-percentiles-aggregation/" rel="bookmark" title="Permalink to Understanding social media engagement with Elasticsearch">Understanding social media engagement with Elasticsearch (Scrunch.com)</a>
    </div>
  </li>


  <li>
    <div class="title">
      <h2>Feb 24, 2017. <a href="https://tech.scrunch.com/blog/lessons-learned-from-a-year-of-running-elasticsearch-in-production/" rel="bookmark" title="Permalink to Lessons Learned From A Year Of Elasticsearch In Production">Lessons Learned From A Year Of Elasticsearch In Production (Scrunch.com)</a>
    </div>
  </li>


{% for article in articles_page.object_list %}
    <li>
        <div class="title">
            <h2>
               {{ article.date|strftime('%b %d, %Y') }}. <a href="/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
            </h2> 
        </div>
    </li>
{% endfor %}
</ul><!-- /#posts-list -->

{% endblock content %}
