html, body {
  height: 100%;
}
html {
  border: 0 none;
  margin: 0;
  padding: 0;
}

body {
  color: #222222;
  font-family: Georgia,Helvetica,Arial,sans-serif;
  padding-left: 20px;
  padding: 0;
  vertical-align: baseline;
}

/* The side navigation menu */
#sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
#sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
#sidebar a.active {
  background-color: #3B4653;
  color: white;
}

/* Links on mouse-over */
#sidebar a:hover:not(.active) {
  background-color: #d9d7cb;
}

h1 {
  margin:0;
  padding:0;
}

a, a:visited {
  color:#7187A2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline; }

hr {
  background-color: #b9b28a;
  height:1px;
  border:0;
}

.img-annotated {
  margin: 40px auto;
  text-align: center;
  font-size: 10px;
}

.img-annotated img {
  border-radius: 20px;
  border: 1px solid #000;
}

.intro {
  padding: 15px;
  background-color: rgba(206, 202, 184, 0.36);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  max-width: 800px;
  margin: 0 0 30px 0;
}

/* Libraries */

#header h1 {
  margin-bottom: 25px;
}

#header h1 a {
  color: #3B4653;
  font-size: 2.5em;
  text-decoration: none;
  margin-top: 0;
  line-height:0.9em;
  letter-spacing: -4px;
}

#article_list {
  padding-left: 20px;
}

ul.articles {
  margin:0;
  padding:0;
}

ul.articles li {
  list-style-type:none;
  margin: 1em 0pt;
}

ul.articles li:before {
  list-style-type:none;
}

div.article_body {
}

blockquote.pull_quote {
  font-size: 2.2em;
  line-height: 1.2em;
  margin-bottom: 5px;
  margin-top: 1px;
  padding: 15px;
  text-align: left;
  width: 25%;
  font-style:italic;
}
  blockquote.pull_quote:before, blockquote.pull_quote:after {
    content: '"';
  }
  blockquote.pull_quote.right {
    float:right;
  }
  blockquote.pull_quote.left {
    float:left;
  }

.post h2 {
  display: inline;
  font-size: 1.5em;
  margin-bottom: 0px;
}

.post h2 a {
  font-color:#000;
  letter-spacing:-0.5px;
}


.comment {
  margin-bottom:20px;
}

.comment h3 {
  border-color: #000000;
  border-style: solid;
  border-width: 0 0 0 10px;
  margin-bottom: 0;
  padding-bottom: 4px;
}

.post .date {
  font-size: 1.2em;
}


#side-header {
  clear: right;
  float: left;
  margin-right: 35px;
}

#side-header img {
  border-radius: 150px;
}

#main_menu {
  margin-top: 20px;
  margin-left: 0pt;
}

#side-header ul {
  padding-left: 0px;
  text-align: center;
  padding-top: 0px;
  margin-top: 6px;
  width: 106px;
}

#side-header li {
  display: inline;
  list-style-type: none;
  padding: 0 2px;
}

#main_menu a:link, #main_menu a:visited {
  text-decoration: none;
}

#main_menu a:hover {
  text-decoration: underline;
}

#slogan {
  font-size: 2em;
  margin-left: 10px;
  padding-top: 10px;
}

pre {
  display: block;
  padding: .5em;
  color: #333;
  background: #f8f8ff;
}

/* Prettify override */
pre.prettyprint {
  border: 0;
}

  pre.prettyprint .str {
    color: #7187A2;
  }

.box {
  background: none repeat scroll 0% 0% #FFD9B3;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 1px #C2CFE9;
}

.box ul {
  list-style: none outside none;
  margin-left: 0pt;
  padding-left: 0pt;
}

.article h2 {
  margin: 0pt;
  font-weight: normal;
}

.article.blog_header a {
  text-decoration: none;
}

.article .blog_header a:active {
  text-decoration: none;
}

.comment .body, .article .body {
  font-size: 1.2em;
}

.article img {
  border-radius: 10pt 10pt 10px 10px;
  box-shadow: 5px 5px 5px #888888;
  display: block;
  margin: 30px;
}

.article code {
  display: block;
  margin: 0pt auto;
}

#tags {
  color: #000000;
  height: 100px;
  margin-bottom: 1.5em;
  overflow: auto;
}

#ft {
  padding: 10px;
  text-align: center;
}

.twitter-link {
  text-align: center;
  font-size: 50px;
}

.twitter-link a, .twitter-link a:visited {
  color: #CECAB8;
}

.info {
    font-family: sans-serif;
    text-align: right;
    color: #BBB;
}

.info a {
    color: inherit;
}
.info a.tags {
    background: #b9b28b;
    color: #FFF;
    display: inline-block;
    padding: .1em .3em;
    border: 1px transparent solid;
    border-radius: 5px;
    margin: 0 0 0.3em 0;
}
.info a.tags.selected {
    border: 1px #999 solid;
}

#bib h2 {
    font-size:1.4em;
}

div#content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div#content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.article-meta {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px dashed #b9b28a;
}

.article-meta .category {
  color: #000;
  display: inline-block;
  padding: .1em .3em;
  border: 1px transparent solid;
  border-radius: 5px;
  margin: 0 0 0.3em 0;
  font-family: monospace;
  font-size: 16px;
}

.created {
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 10px;
}

.post {
  display: flex;
  margin-bottom: 25px;
}

.cover-image img {
  width: 120px;
  margin-right: 20px;
}

.article-link {
  font-size: 1em;
  font-weight: bold;
  margin-top: 15px;
}

.article-content {
  width: 100%;
}

#sidebar .home-menu {
  border-bottom: 1px solid #b9b28a;
}

#sidebar .filter-menu {
  border-bottom: 1px solid #b9b28a;
}