html, body {
    height: 100%;
}
html {
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
    color: #222222;
    font-family: Georgia,Helvetica,Arial,sans-serif;
    padding-left: 20px;
    padding: 0;
    vertical-align: baseline;
}

h1 {
    margin:0;
    padding:0;
}

a, a:visited {
    color:#7187A2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; }

hr {
    background:url(/theme/images/bg_line_ornament.png) top center no-repeat;
    height:20px;
    width:100%;
    margin: 30px 0;
    border:0;
}

.img-annotated {
    margin: 40px auto;
    text-align: center;
    font-size: 10px;
}

.img-annotated img {
    border-radius: 20px;
    border: 1px solid #000;
}

.intro {
    padding: 15px;
    background-color: rgba(206, 202, 184, 0.36);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.06);
}

/* Libraries */

#header h1 {
    margin-bottom: 2px;
}

#header h1 a {
    color: #3B4653;
    font-size: 2.2em;
    font-weight: bold;
    letter-spacing: -5px;
    text-decoration: none;
    margin-top:0;
    line-height:0.9em;
}

#container {
    min-height: 100%;
    margin: 0 auto; /* the bottom margin is the negative value of the footer's height */
    width:900px;
}

#article_list {
    padding-left: 20px;
}

ul.articles {
    margin:0;
    padding:0;
    opacity: 0;
}

ul.articles li {
    list-style-type:none;
    margin: 1em 0pt;
}

ul.articles li:before {
    list-style-type:none;
}

div.article_body {
    opacity: 0;
}

blockquote.pull_quote {
    font-size: 2.2em;
    line-height: 1.2em;
    margin-bottom: 5px;
    margin-top: 1px;
    padding: 15px;
    text-align: left;
    width: 25%;
    font-style:italic;
}
    blockquote.pull_quote:before, blockquote.pull_quote:after {
        content: '"';
    }
    blockquote.pull_quote.right {
        float:right;
    }
    blockquote.pull_quote.left {
        float:left;
    }

.title {
}

.title h2 {
    display: inline;
    font-size: 1.5em;
}

.title h2 a {
    font-color:#000;
    letter-spacing:-0.5px;
}


.comment {
    margin-bottom:20px;
}

.comment h3 {
    border-color: #000000;
    border-style: solid;
    border-width: 0 0 0 10px;
    margin-bottom: 0;
    padding-bottom: 4px;
}

.title .date {
    display: inline;
    font-size: 1.2em;
}

.title .tagline {
    font-size: 1.2em;
    font-style: italic;
}

#main_menu {
    margin-left: 0pt;
    float:right;
}

#main_menu ul {
    text-align:right;
}

#main_menu li {
    display: inline;
    list-style-type: none;
}

#main_menu a:link, #main_menu a:visited {
    text-decoration: none;
}

#main_menu a:hover {
    text-decoration: underline;
}

#slogan {
    font-size: 2.3em;
    font-weight: bold;
    letter-spacing: -1px;
}

pre {
    display: block;
    padding: .5em;
    color: #333;
    background: #f8f8ff;
}

/* Prettify override */
pre.prettyprint {
    border: 0;
}

    pre.prettyprint .str {
        color: #7187A2;
    }

.box {
    background: none repeat scroll 0% 0% #FFD9B3;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 1px #C2CFE9;
}

.box ul {
    list-style: none outside none;
    margin-left: 0pt;
    padding-left: 0pt;
}

.article h2 {
    margin: 0pt;
}

.article.blog_header a {
    text-decoration: none;
}

.article .blog_header a:active {
    text-decoration: none;
}

.comment .body, .article .body {
    font-size: 1.2em;
}

.article img {
    border-radius: 10pt 10pt 10px 10px;
    box-shadow: 5px 5px 5px #888888;
    display: block;
    margin: 30px;
}

.article code {
    display: block;
    margin: 0pt auto;
}

#tags {
    color: #000000;
    height: 100px;
    margin-bottom: 1.5em;
    overflow: auto;
}

#ft {
    padding: 10px;
    text-align: center;
}

.twitter-link {
    text-align: center;
    font-size: 50px;
}

.twitter-link a, .twitter-link a:visited {
   color: #CECAB8;
}
